<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <File name="FileLogger" fileName="logs/automation.log" append="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <!-- Suppress WebDriverManager logs -->
        <Logger name="io.github.bonigarcia.wdm" level="WARN" additivity="false">
            <AppenderRef ref="FileLogger" />
        </Logger>

        <!-- Suppress TestNG logs -->
        <Logger name="org.testng" level="WARN" additivity="false">
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <!-- Your application logs -->
        <Logger name="com.iasys" level="INFO" additivity="false">
            <AppenderRef ref="FileLogger" />
        </Logger>

        <Root level="ERROR">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileLogger" />
        </Root>
    </Loggers>
</Configuration>
